# Ambienti Virtuali Python
.venv/
venv/
env/
ENV/

# Cache di Python
__pycache__/
*.pyc
*.pyo
*.pyd

# File temporanei Excel / Output
*.xlsx
flights.xlsx
voli_trovati.xlsx

# File di configurazione locali / IDE
.vscode/
.idea/
.DS_Store

# Cartelle temporanee di Vercel
.vercel/
